In [ ]:
import os
from google.colab import drive
drive.mount('/content/gdrive/')

In [ ]:
cd /content/gdrive/MyDrive/Colab Notebooks/hy24_bigdata/0320 강의/

In [3]:
import pandas as pd
from glob import glob

In [ ]:
flist = glob('data/*.csv')
print (flist)

In [5]:
data = pd.read_csv(flist[0], sep=",", encoding="cp949", skiprows=15, dtype="str")

In [ ]:
data

In [7]:
for file in flist[1:]:
  data = pd.concat([data, pd.read_csv(file, sep=",", encoding="cp949", skiprows=15, dtype="str")], axis=0)

In [ ]:
data

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
data.dtypes

In [11]:
data["거래금액(만원)"] = data["거래금액(만원)"].str.replace(",", "")

In [12]:
data["거래금액(만원)"] = data["거래금액(만원)"].astype("int")

In [ ]:
data["거래금액(만원)"].describe()

In [ ]:
data["거래금액(만원)"].hist(bins=100)

In [15]:
data['전용면적(㎡)'] = data['전용면적(㎡)'].astype('float')

In [ ]:
data['전용면적(㎡)'].describe()

In [ ]:
data['전용면적(㎡)'].hist(bins=100)

In [59]:
data['건축년도'] = data['건축년도'].astype('int')

In [ ]:
data['건축년도'].describe()

In [18]:
data['계약년월'] = data['계약년월'].astype('int')

In [ ]:
data['계약년월'].describe()

In [21]:
data['계약년'] = data['계약년월'] / 100
data['계약년'] = data['계약년'].astype('int')

In [ ]:
data['계약년'].describe()

In [ ]:
data['계약년'].value_counts()

In [27]:
data['단가'] = data['거래금액(만원)'] / data['전용면적(㎡)']

In [ ]:
data['시군구'].value_counts()

In [44]:
data['시도명'] = data['시군구'].apply(lambda x : x.split(' ')[0])

In [45]:
data['시군구명'] = data['시군구'].apply(lambda x : x.split(' ')[1])

In [46]:
data['읍면동명'] = data['시군구'].apply(lambda x : x.split(' ')[2])

In [47]:
import matplotlib.pyplot as plt

In [61]:
data_select = data[(data['계약년']==2023) & (data['전용면적(㎡)'] > 80) & (data['전용면적(㎡)'] < 85)& (data['시군구명'] == '강남구') & (data['건축년도']>2000)]

In [ ]:
plt.scatter(data_select['계약년월'], data_select['거래금액(만원)'])
plt.show()